<h2><%= @restaurant.name %> </h2>

<p><%= @restaurant.address%> </p>
<p><%= @restaurant.rating%> </p>


<%= link_to "BACK", restaurants_path %>

<%= link_to "EDIT", edit_restaurant_path(@restaurant) %>

<%= link_to "DELETE", restaurant_path(@restaurant), method: :delete, data: { confirm: "Really?" } %>